<!DOCTYPE html>
<html lang="en-US" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>virtual pinboard</title>
    <meta name="description" content="virtual pinboard"/>
    <meta name="keywords" content="demonstration,demo,html5,file upload,canvas"/>
    <link rel="stylesheet" media="all" href="../content/base.css" />
</head>
<body>

<!-- Header -->
<header id="header">
</header>

<!-- Content -->
<section id="wrapper">






</section>



    <!-- Footer -->
    <footer id="footer">
    </footer>

</body>
</html>