<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>virtual pinboard</title>
    <meta name="description" content="virtual pinboard"/>
    <meta name="keywords" content="demonstration,demo,html5,file upload,canvas"/>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>

    <link rel="stylesheet" media="all" href="../content/base.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
    <script src="../content/kineticjs.js"></script>
    <script type="text/javascript" src="../content/zip.js"></script>
    <script type="text/javascript" src="/_ah/channel/jsapi"></script>
    <script type="text/javascript" src="https://talkgadget.google.com/talkgadget/channel.js"></script>
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <script src="../content/modernizr.custom.js"></script>
    <script src="../content/script.js"></script>
    <script type="text/javascript" src="/_ah/channel/jsapi"></script>
    <script>
        var token = "{{ token }}";
        var pinboard_url_id = "{{ pinboard_url_id }}"
        var me = "{{ me }}"
        var stage;
    </script>
</head>
<body>

<script>

</script>


<!-- Header -->
<header id="header">
</header>

<!-- Content -->


<div class="colmask threecol">
    <div class="colmid">
        <div class="colleft">

            <div class="col1">

                <div class="pinboard">
                    <div id="canvasbag"></div>
                    <form name="select_pinboard" type="post" action="" method="post">
                        <select id="pinboard_select">
                        {% for Pinboard  in pinboards %}
                            <option  value="{{ Pinboard.name }}" >{{ Pinboard.name }}</option>
                        {% endfor %}
                        </select>
                    </form>

                </div>
            </div>
            <div class="col2">

            </div>

            <div class="col3">
                <div id="result">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer id="footer">
</footer>

</body>
</html>